<div class="header">
    <div>
        {% if site.github.build_revision %}
            <img src="{{ site.logo | append: "?v=" | append: site.github.build_revision | relative_url }}" alt="logo" class="logo">
        {% else %}
            <img src="{{ site.logo | append: "?v=" | relative_url }}" alt="logo" class="logo">
        {% endif %}
        <p class="title">{{ site.company }}</p>
    </div>
</div>
<script>
    // check if the page is embedded in an iframe and if so hide the header
    if (window.self !== window.top) {    
        document.querySelector('.header').style.display = 'none';
    }    
</script>