@import 'normalize';

body {
    background-color: $body-background;
    -webkit-font-smoothing: antialiased;
    line-height: 1.8;
    font-family: sans-serif;
}

@import "header";
@import "banner";
@import "posts";